.todoItem {
    width: 345px;
    height: 40px;
    background-color: rgb(237, 244, 242);
    border: solid rgb(110,170,41) 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin: 10px 0px;
    position: relative;
    flex: 0 0 auto;
    /*  */
}

.deleteButton {
    background: no-repeat url("../../public/images/delete.png") center;
    border-radius: 50%;
    background-size: 125%;
    border: solid black 2px;

    width: 28px;
    height: 28px;
    position: absolute;
    right: -8px;
    top: -8px;
    cursor: pointer;
}

.deleteButton:hover {
    border: solid white 2px;
    transition: 250ms;
    transform-origin: center;
    transform: rotate(90deg) scale(1.2);
}

.checkButton {
    background: no-repeat url("../../public/images/check.png") center;
    border-radius: 50%;
    background-size: 100%;
    border-style: none;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
    flex: 0 0 20px;
}
.checkButton--active {
    background: no-repeat url("../../public/images/checkCompleted.png") center;
    border-radius: 50%;
    background-size: 100%;
    border-style: none;
    width: 20px;
    height: 20px;

}

.TodoItemText {
    color: #f35c5c;
    font-weight: 900;
    font-size: 1.6rem;
    font-family: cursive;
    overflow: auto;

}

.TodoItemText::-webkit-scrollbar {
    height: 9px;
}

.TodoItemText::-webkit-scrollbar-track {
    background-color: #6eaa29;
    border-radius: 6px;
}

.TodoItemText::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(76,175,80, 0.7);
    cursor: pointer;
    border: solid rgba(58,132,61,0.7) 2px;
}

.TodoItemText--active {
    text-decoration: line-through black 3px;
}