@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.TodoTitle {
    text-align: center;
    color: #D32626;
    font-size: 7rem;
    font-family: 'Lobster', cursive;
}
/*  */
.TodoCounter {
    font-family: cursive;
    color: rgba(211, 38, 38, 0.8);
    font-size: 3.5rem;
    font-weight: 800;
}